.header {
  background: white;
  height: 4rem;
  box-shadow: 0 0 0.2rem 0 rgba(0,0,0,0.5);
}

.header .container {
  height: 100%;
}

.header .row {
  height: 100%;
}

.header__logo {
  max-height: 2.5rem;
}
